<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Giriş Yap</h1>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Kullanıcı Adı</label>
        <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName" class="form-control" placeholder="Kullanıcı Adı" required="" autofocus="">
    </div>

    <div class="form-group">
        <label for="inputPassword" class="sr-only">Sifre</label>
        <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" id="password" class="form-control" placeholder="Şifre" required="">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
</form>